<script src="https://unpkg.com/vue"></script>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
</head>

<body>
<div id="app">

  <div class="panel scores">
    <div class="score">
      <h1>{{ hero.name }}</h1>
      <div class="lifebar">
        <div class="life"
             :style="{width: `${hero.life}%`, backgroundColor: getBgColor(hero.life)}">
        </div>
      </div>
      <span class="life-qty">{{ hero.life }}%</span>
    </div>
    <div class="score">
      <h1>{{ monster.name }}</h1>
      <div class="lifebar">
        <div class="life"
             :style="{width: `${monster.life}%`, backgroundColor: getBgColor(monster.life)}">
        </div>
      </div>
      <span class="life-qty">{{ monster.life }}%</span>
    </div>
  </div>

  <div class="panel actions">
    <div v-if="!game.started" class="start-game">
      <button class="btn btn-start" @click="startGame">iniciar jogo</button>
    </div>
    <div v-if="game.started" class="actions-section">
      <button class="btn btn-attack" @click="heroAttack">ataque</button>
      <button class="btn btn-special-atack">ataque especial</button>
      <button class="btn btn-heal">curar</button>
      <button class="btn btn-surrender">desistir</button>
    </div>
  </div>

</div>

<script src="app.js"></script>
</body>