html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    box-shadow: 0px 0px 7px 0px #D4D4D4;
    padding: 15px;
    margin: 30px;
}

/* Scores section */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.lifebar {
    width: 100%;
    height: 20px;
    border: 1px solid #AAA;
}

.life {
    background-color: green;
    height: 100%;
}

.danger {
    background-color: red;
}

/* Result section */

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

/* Actions section */

.actions {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 7px;
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
}

.start {
    background-color: #6C92F5;
}

.attack {
    background-color: #f54545;
    color: #FFF;
}

.special-atack {
    background-color: #f58845;
}

.heal {
    background-color: #5ccf46;
    color: #FFF;
}

.surrender {
    background-color: #d9d9d9;
}

/* Logs section */
.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    padding: 3px 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
}

.monster {
    background-color: #E57E81;
    color: #FFF;
}

.hero {
    background-color: #768BE5;
    color: #FFF;
}